@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

#txt { background-color: rgb(245, 131, 2);
       text-align: center;
       font-weight: bold;
       font-size: 22px;
       color: rgb(243, 255, 255);
       height: 35px;
       width: 100%;
       font-family: 'Hedvig Letters Serif', serif;
}

#fundo {background-color: rgb(237, 194, 100);
}

#titulo{
       font-family: 'Hedvig Letters Serif', serif;
}